<div class="container">
  <img src="../../../assets/img/logo.svg" alt="" class="logo AluraGeek store" />
  
  <ul class="links">
    <li class="link">
      <a href="">Quem somos nós</a>
    </li>
    <li class="link">
      <a href="">Política de privacidade</a>
    </li>
    <li class="link">
      <a href="">Programa fidelidade</a>
    </li>
    <li class="link">
      <a href="">Nossas lojas</a>
    </li>
    <li class="link">
      <a href="">Quero ser franqueade</a>
    </li>
    <li class="link">
      <a href="">Anuncie aqui</a>
    </li>
  </ul>
  
  <form action="">
    <legend>Fale conosco</legend>
    <p>
      <label for="name">Nome</label>
      <input type="text" name="message">
    </p>
    <p>
      <label for="message">Escreva sua mensagem</label>
      <textarea name="message" id="" cols="30" rows="10"></textarea>
    </p>
    <button>Enviar mensagem</button>
  </form>
</div>
