<div class="init-content">
  <h2 class="title">Dezembro Promocional</h2>
  <p class="paragraph">Produtos selecionados com 33% de desconto</p>
  <a href="" class="link">Ver Consoles</a>
</div>

<section class="container star-wars-section">
  <div class="section-header">
    <legend>Start Wars</legend>
    <a href=""
      >Ver tudo
      <img src="../../../assets/img/right-arrow.svg" alt="" />
    </a>
  </div>
  <div class="section-body">
    <app-product-card
      imgSrc="../../../assets/img/imgSW1.svg"
      imgAlt="Caneca Star-Wars branca da cabeça do Stormtrooper"
      productName="Caneca cabeça do Stormtrooper"
      productPrice="60,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgSW2.svg"
      imgAlt="Bonecos de lego do Star-Wars para decoração"
      productName="Bonecos de lego do Star-Wars para decoração"
      productPrice="40,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgSW3.svg"
      imgAlt="Boneco do Yoda"
      productName="Boneco do Yoda"
      productPrice="80,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgSW4.svg"
      imgAlt="Boneco do Stormtrooper"
      productName="Boneco do Stormtrooper"
      productPrice="80,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgSW5.svg"
      imgAlt="Boneco do baby Yoda"
      productName="Boneco do baby Yoda"
      productPrice="80,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgSW6.svg"
      imgAlt="Boneco do Han Solo"
      productName="Boneco do Han Solo"
      productPrice="80,00"
    ></app-product-card>
  </div>
</section>

<section class="container console-section">
  <div class="section-header">
    <legend>Consoles</legend>
    <a href=""
      >Ver tudo
      <img src="../../../assets/img/right-arrow.svg" alt="" />
    </a>
  </div>
  <div class="section-body">
    <app-product-card
      imgSrc="../../../assets/img/imgConsole1.svg"
      imgAlt="Controle de xBox One branco"
      productName="Controle de xBox One branco"
      productPrice="50,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgConsole2.svg"
      imgAlt="Playstation 5 branco"
      productName="Playstation 5 branco"
      productPrice="5.000,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgConsole3.svg"
      imgAlt="Nintendo NES"
      productName="Nintendo NES - Nintendo Entertainment System"
      productPrice="999,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgConsole4.svg"
      imgAlt="Nintendo Switch"
      productName="Nintendo Switch"
      productPrice="2.000,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgConsole5.svg"
      imgAlt="xBox Series X"
      productName="xBox Series X"
      productPrice="5.500,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgConsole6.svg"
      imgAlt="Gameboy transparente com jogos inclusos"
      productName="Gameboy transparente com jogos inclusos"
      productPrice="200,00"
    ></app-product-card>
  </div>
</section>

<section class="container random-section">
  <div class="section-header">
    <legend>Consoles</legend>
    <a href=""
      >Ver tudo
      <img src="../../../assets/img/right-arrow.svg" alt="" />
    </a>
  </div>
  <div class="section-body">
    <app-product-card
      imgSrc="../../../assets/img/imgDiversos1.svg"
      imgAlt="Camisa Atari"
      productName="Camisa Atari"
      productPrice="60,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgDiversos2.svg"
      imgAlt="Camisa SNES"
      productName="Camisa SNES"
      productPrice="60,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgDiversos3.svg"
      imgAlt="Boneco Sonic"
      productName="Boneco Sonic"
      productPrice="60,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgDiversos4.svg"
      imgAlt="Rádio de carro Retrô"
      productName="Rádio de carro Retrô"
      productPrice="20,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgDiversos5.svg"
      imgAlt="Camiseta hamburgão zóiudo"
      productName="Camiseta hamburgão zóiudo"
      productPrice="40,00"
    ></app-product-card>

    <app-product-card
      imgSrc="../../../assets/img/imgDiversos6.svg"
      imgAlt="Pikachu de pelúcia gigante"
      productName="Pikachu de pelúcia gigante"
      productPrice="800,00"
    ></app-product-card>
  </div>
</section>
